.card {
    text-align: center;
    border-color: #ff6565;
    height: 600px;
    width: 1000px;
    margin: auto;
     
}
body{
    text-align: center; 
    background-color: #d1eaf9;
}
.card-img-top{
    height: 200px; 
    width: 200px; 
    margin-top: 10px;
    text-align: center;
}

.card-title{
    color: #a94a50;
}

.btnUno {
    background-color: #bae0f5;
    color: #a94a50;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 30;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top: 270px;
    margin-left: 400px;
    border-radius: 1.078em;
    border-color: #a94a50;
}

.btnDos{
    background-color: #bae0f5;
    color: #a94a50;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 30;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top:5px;
    margin-left: 400px;
    border-radius: 1.078em;
    border-color: #a94a50;
}