.card {
    text-align: center;
    border-color: #ff6565;
    height: 600px;
    width: 1000px;
    margin: auto;
    background-color: #bae0f5;
}
body{
    text-align: center; 
    background-color: #d1eaf9;
}
.card-img-top{
    height: 200px; 
    width: 200px; 
    margin-top: 10px;
    text-align: center;
}

.card-title{
    color: #a94a50;
}

.btnUno {
    background-color: #bae0f5;
    color: #a94a50;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 30;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top: 270px;
    margin-left: 400px;
    border-radius: 1.078em;
    border-color: #a94a50;
}

.btnDos{
    background-color: #bae0f5;
    color: #a94a50;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 30;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top:5px;
    margin-left: 400px;
    border-radius: 1.078em;
    border-color: #a94a50;
}

.container {
    position: relative;
    width: 50%;
  }
  
.overlay {
    margin-left: auto;
    opacity: 0;
    transition: .5s ease;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: #2C3E50;
    font-size: 2px;
    text-align: left;
}

.imagesInstruction{
    
    text-align: center;
    background-color: #bae0f5;
}

.hiddenimg {
    display: none;
  }
    
.hiddentxt a {
    color: #2C3E50;
    text-decoration: none;
    z-index: 99;
}

.hiddentxt:hover ~ .hiddenimg {
    display: block;
    position: absolute;
    z-index: 2
}




