<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Guess Game</title>
        <link
          rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css"/>
        <link rel="stylesheet" href="./estilos.css"/>
      </head>

    <body>
        <div>
            <br>
            <div class="card" style="text-align: center; background-image: url('./Imagenes/Pantalla\ de\ Inicio.png'); ">
                <button type="submit" class="btnUno">Play</button>
                <button type="submit" class="btnDos">Instructions</button>
            </div>
        </div>
            
    </body>
</html>
