<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess Game</title>
    <link
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="./css/estilos.css"/>
   
</head>
<body>
  <form action="index.html" style="text-align: left;">
    <button type="submit" class = "btnDireccionar">
        <i 
            class="fas fa-arrow-left" 
            style="font-size:25px;color:#a94a50; text-align: left;">Back
        </i>
    </button>
  </form>
  <div class="card" style="text-align: center;background-image: url('./img/Instrucciones.png');">
    <div class="container">

        <h1 class="card-title">
            Instructions    
        </h1>
        <br><br>
        <div class = "text">
            <h6>
                <span class="hiddentxt">
                    <a>
                        1.Click on "Play"
                    </a>
                </span>
                <span class="hiddenimg"><img alt = "Play button" src="./img/botonInicio.png" width="400" />
                </span>
               
            </h6>
        </div>
  
        <div class = "text">
            <h6>
                <span class="hiddentxt">
                    <a>
                        2.After you enter the game, you will be prompted with the question: "Can you guess the word?"
                    </a>
                </span>
                <span class="hiddenimg"><img alt = "Play button" src="./img/Pregunta.png" width="400" />
                </span>
                
            </h6>
        </div>

        <div class = "text">
            <h6>
                <span class="hiddentxt">
                    <a>
                        3.Below the question, you will find a box with a hint about the occupation you are guessing
                    </a>
                </span>
                <span class="hiddenimg"><img alt = "Play button" src="./img/Pista.png" width="400" />
                </span>       
            </h6>
        </div>

        <div class = "text">
            <h6>
                <span class="hiddentxt">
                    <a>
                        4.After reading the hint, select the letters that form the name of the occupation that you think is the correct one
                    </a>
                </span>
                <span class="hiddenimg"><img alt = "Play button" src="./img/botonesAbecedario.png" width="400" />
                </span> 
            </h6>
        </div>

        <div class = "text">
            <h6>
                <span class="hiddentxt">
                    <a>
                        5.To select any letter, click on the button containing the letter you want
                    </a>
                </span>
                <span class="hiddenimg"><img alt = "Play button" src="./img/seleccionarLetra.png" width="400" />
                </span> 
               
            </h6>
        </div>

        <div class = "text">
            <h6>
               6.If the letter that you selected is correct or incorrect, you will prompted with a message telling you so
            </h6>

        </div>

        <div class = "text">
            <h6>
               7.You will have as many turns as there are letters in each word. (For example, a seven-letter word will give 7 turns, and a four-letter word will give you 4 turns)
            </h6>
        </div>

        <div class = "text">
            <h6>
               8.When you successfully guess the word or you run out of turns, you will be prompted with a windows in which you can find the word, a sentence using that word and an image of the word you were guessing            </h6>
        </div>
        
      </div>
  </div>
</body>