<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess Game</title>
    <link
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <form class="p-4" id="formularioJuego" style="text-align: center;">
      <div class="card" style="background-image: url('./img/Professiones.png');" >
        <div class="card-body">
          <h4 class="card-title">
            Can you guess the word?
          </h4>
          <div class="flip-card" id="pista-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <button type="button" class="btn btn-default">
                  <br><br><br>
                  <i class="fas fa-search" style="font-size:50px;color:#a94a50">HINT</i>
                </button>
              </div>
              <div class="flip-card-back" id = "pista"> 
              </div>
            </div>
          </div>
          
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Some text in the Modal..</p>
            </div>
          
          </div>
          
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="formulario" id="input">
        </div>
        <br>
        <div class="botones" id="abecedario" style="text-align: center;">
        </div>
        <br>
      </div>
    </form>
    <script type="module" src="./js/Formulario.js" defer></script>

  </body>
</html>