<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess Game</title>
    <link
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css"/>
    <link rel="stylesheet" href="./estilos.css"/>
  </head>

  <body>
    <form class="p-4" id="formularioJuego" style="text-align: center;">
      <div class="card" style="background-image: url('./Imagenes/Professiones.png');" >
        <div class="card-body">
          <h4 class="card-title">
            Can you guess who this is?
          </h4>
          <img src="./Imagenes/Fondo coral.png" class="card-img-top"/>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="formulario" id="input">
        </div>
        <br>
        <div class="botones" id="abecedario" style="text-align: center;">
        </div>
        <br>
      </div>
    </form>

    <script type="module" src="../Formulario.js" defer></script>

  </body>
</html>